<h1>JUST HELLO</h1>

<a href="/demo/array">to array</a>
<%= link_to("to products",{ :controller=> 'product',:action=> 'index' }) %>
<%= link_to("to detail",{ controller: 'product', action: 'detail' }) %>
<%= link_to("to index",{ action: 'index' }) %>